@import "./src/styles/_variables.scss";

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../assets/exit-bg.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;

}

.kieslink a:after {
    content: '\02C3';
    color: #8bb5eb;
    padding: 7px;
    position: relative;
    top: 13px;
    left: 6px;
    font-size: 36px;
}

.kieslink {
      margin-top: 12px;
      margin-bottom: 35px;

    a {
        text-decoration: none;
        font-weight: 600;

   }
}


 header {
    background-image: url(../assets/exit-bg.jpg)!important;
    h1 {
      padding: 36px 0;
      color: white;
      text-align: center;
      font-size: 33px;
      font-weight: 600;
      }
  }
  .main-exit {
      background-color: #FEFAF6;
      margin-top: -8px;
  }

  .exit-logo {

    img {
      margin-left: 710px;
      margin-top: -130px;
    }
  }


  .banner-exit p {
      padding: 10px 0px;
      background: #F44336;
      color: white;
      font-weight: 700;
      margin: 20px -3px;
      &::after {
        content: url('../assets/arrowdown.png');
        float: right;
        position: relative;
        right: 15px;
      }
      &::before {
        content: url('../assets/arrowdown.png');
        float: left;
        position: relative;
        left: 15px;
      }

  }

  .product {
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
      margin: 0 10px;
      padding: 20px;
  }
  .product {
    .label {
        font-size: 16px;
        font-weight: 600;
        width: 146px;
        height: auto;
        margin: 15px auto;
    }
    a {
        border-radius: 30px;
        border: 2px solid #8bb5eb;
        padding: 15px 30px 15px 30px;

    }
  }
.verlopern {
      background: #F44336;
      color: white;
      border-radius: 30px;

      padding: 6px;
      width: 220px;
      display: flex;
      justify-content: space-around;
      position: relative;
      left: 52px;
      bottom: 80px;
}



  footer {
     color: black;
  }
